In [ ]:
%load_ext sql

In [ ]:
%%sql

WITH
    sales AS (
        SELECT 1 AS sale_id, 1 AS course_id, 10.99 AS sale_amount
        UNION ALL
        SELECT 2, 2, 9.99
        UNION ALL
        SELECT 3, 1, 10.99
        UNION ALL
        SELECT 4, 3, 12.99
        UNION ALL
        SELECT 5, 3, 12.99
        UNION ALL
        SELECT 6, 1, 9.99
        UNION ALL
        SELECT 7, 2, 10.99
        UNION ALL
        SELECT 8, 2, 9.99
        UNION ALL
        SELECT 9, 4, 11.99
        UNION ALL
        SELECT 10, 1, 13.99
    )
SELECT * FROM sales

In [ ]:
%%sql

SELECT count(*) FROM retail_db.orders;

In [ ]:
%%sql

SELECT * FROM retail_db.orders LIMIT 10;

In [ ]:
%%sql

SELECT count(distinct order_date),
	count(distinct order_status)
FROM retail_db.orders;

In [ ]:
%%sql

SELECT count(*) FROM retail_db.order_items;

In [ ]:
%%sql

SELECT * 
FROM retail_db.order_items 
LIMIT 10;

In [ ]:
%%sql

SELECT sum(order_item_subtotal)
FROM retail_db.order_items
WHERE order_item_order_id = 2;

In [ ]:
%%sql

SELECT round(sum(order_item_subtotal), 2)
FROM retail_db.order_items
WHERE order_item_order_id = 2;

In [ ]:
%%sql

SELECT count(*) item_count,
	round(sum(order_item_subtotal), 2) total_revenue,
    round(avg(order_item_subtotal), 2) avg_revenue
FROM retail_db.order_items
WHERE order_item_order_id = 2;

Here are some of the commonly used aggregate functions.
* `count`
* `sum`
* `avg`
* `min`
* `max`