In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://admin:Itversity123@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/dev

env: DATABASE_URL=postgresql://admin:Itversity123@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

SELECT *
FROM retail_db.orders
WHERE order_status = 'COMPLETE'
LIMIT 10;

In [ ]:
%%sql

SELECT count(*)
FROM retail_db.orders
WHERE order_status = 'COMPLETE';

In [ ]:
%%sql

SELECT *
FROM retail_db.orders
WHERE order_status = 'COMPLETE' 
	AND order_date = '2014-01-01 00:00:00.0'
LIMIT 10;

In [ ]:
%%sql

SELECT count(*)
FROM retail_db.orders
WHERE order_status = 'COMPLETE' 
	AND order_date = '2014-01-01 00:00:00.0';

In [ ]:
%%sql

SELECT *
FROM retail_db.orders
WHERE order_status = 'COMPLETE' 
	AND order_date LIKE '2014-01%'
LIMIT 10;

In [ ]:
%%sql

SELECT count(*)
FROM retail_db.orders
WHERE order_status = 'COMPLETE' 
	AND order_date LIKE '2014-01%';

In [ ]:

-- Get orders which are either in COMPLETE or CLOSED Status

SELECT *
FROM retail_db.orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10;

In [ ]:

SELECT count(*)
FROM retail_db.orders
WHERE order_status IN ('COMPLETE', 'CLOSED');

In [ ]:

SELECT count(*)
FROM retail_db.orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
	AND order_date LIKE '2014-01%';