In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://admin:Itversity123@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/dev

env: DATABASE_URL=postgresql://admin:Itversity123@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

SELECT count(*) FROM retail_db.orders;

In [ ]:
%%sql

SELECT * FROM retail_db.orders LIMIT 10;

In [ ]:
%%sql

SELECT count(distinct order_date),
	count(distinct order_status)
FROM retail_db.orders;

In [ ]:
%%sql

SELECT count(*) FROM retail_db.order_items;

In [ ]:
%%sql

SELECT * 
FROM retail_db.order_items 
LIMIT 10;

In [ ]:
%%sql

SELECT sum(order_item_subtotal)
FROM retail_db.order_items
WHERE order_item_order_id = 2;

In [ ]:
%%sql

SELECT round(sum(order_item_subtotal), 2)
FROM retail_db.order_items
WHERE order_item_order_id = 2;

In [ ]:
%%sql

SELECT count(*) item_count,
	round(sum(order_item_subtotal), 2) total_revenue,
    round(avg(order_item_subtotal), 2) avg_revenue
FROM retail_db.order_items
WHERE order_item_order_id = 2;