In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://admin:Itversity123@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

SELECT * FROM retail_db.customers
WHERE customer_id NOT IN (
    SELECT order_customer_id FROM
    retail_db.orders
)
ORDER BY 1
LIMIT 10;

In [ ]:
%%sql

SELECT count(*) FROM retail_db.customers
WHERE customer_id NOT IN (
    SELECT order_customer_id FROM
    retail_db.orders
);

In [ ]:
%%sql

SELECT count(*) FROM retail_db.customers AS c
WHERE customer_id NOT IN (
    SELECT order_customer_id FROM
    retail_db.orders AS o
    WHERE c.customer_id = o.order_customer_id
);

In [ ]:
%%sql

SELECT * 
FROM retail_db.customers AS c
WHERE NOT EXISTS (
    SELECT 1 
    FROM retail_db.orders AS o
    WHERE c.customer_id = o.order_customer_id
)
ORDER BY 1
LIMIT 10;

In [ ]:
%%sql

SELECT count(*) 
FROM retail_db.customers AS c
WHERE NOT EXISTS (
    SELECT 1 
    FROM retail_db.orders AS o
    WHERE c.customer_id = o.order_customer_id
);