In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:Itversity123@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm

env: DATABASE_URL=postgresql://retail_user:Itversity123@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm

In [3]:
%%sql

CREATE OR REPLACE VIEW daily_product_revenue_v
AS
SELECT pd.product_id,
    pd.product_name,
    pd.product_category_id,
    pd.category_name,
    pd.category_department_id,
    pd.department_name,
    dpr.order_date,
    round(sum(dpr.revenue), 2) AS revenue
FROM daily_product_revenue AS dpr
    JOIN product_dim AS pd
        ON dpr.order_item_product_id = pd.product_id
WHERE dpr.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY pd.product_id,
    pd.product_name,
    pd.product_category_id,
    pd.category_name,
    pd.category_department_id,
    pd.department_name,
    dpr.order_date
ORDER BY dpr.order_date,
    revenue DESC

Done.

[]

In [4]:
%%sql

SELECT * FROM daily_product_revenue_v LIMIT 10;

 * postgresql://retail_user:***@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm
10 rows affected.

[(1004, 'Field & Stream Sportsman 16 Gun Fire Safe', 45, 'Fishing', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 5599.72),
 (191, "Nike Men's Free 5.0+ Running Shoe", 9, 'Cardio Equipment', 3, 'Footwear', '2013-07-25 00:00:00.0', 5099.49),
 (957, "Diamondback Women's Serene Classic Comfort Bi", 43, 'Camping & Hiking', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 4499.7),
 (365, 'Perfect Fitness Perfect Rip Deck', 17, 'Cleats', 4, 'Apparel', '2013-07-25 00:00:00.0', 3359.44),
 (1073, 'Pelican Sunstream 100 Kayak', 48, 'Water Sports', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 2999.85),
 (1014, "O'Brien Men's Neoprene Life Vest", 46, 'Indoor/Outdoor Games', 7, 'Fan Shop', '2013-07-25 00:00:00.0', 2798.88),
 (403, "Nike Men's CJ Elite 2 TD Football Cleat", 18, "Men's Footwear", 4, 'Apparel', '2013-07-25 00:00:00.0', 1949.85),
 (502, "Nike Men's Dri-FIT Victory Golf Polo", 24, "Women's Apparel", 5, 'Golf', '2013-07-25 00:00:00.0', 1650.0),
 (627, "Under Armour Girls' Toddler Spine Surge Runni", 29, 'Shop By Sport', 5, 'Golf', '2013-07-25 00:00:00.0', 1079.73),
 (226, 'Bowflex SelectTech 1090 Dumbbells', 11, 'Fitness Accessories', 3, 'Footwear', '2013-07-25 00:00:00.0', 599.99)]

In [5]:
%%sql

SELECT count(*) FROM daily_product_revenue_v;

 * postgresql://retail_user:***@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm
1 rows affected.

[(9120,)]

In [8]:
%%sql

SELECT order_date,
    product_id,
    product_name,
    revenue,
    dense_rank() OVER (PARTITION BY order_date ORDER BY revenue DESC) AS drnk
FROM daily_product_revenue_v
ORDER BY order_date, drnk
LIMIT 10;

 * postgresql://retail_user:***@retail-wg.269066542444.us-east-1.redshift-serverless.amazonaws.com:5439/retail_dm
10 rows affected.

[('2013-07-25 00:00:00.0', 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', 5599.72, 1),
 ('2013-07-25 00:00:00.0', 191, "Nike Men's Free 5.0+ Running Shoe", 5099.49, 2),
 ('2013-07-25 00:00:00.0', 957, "Diamondback Women's Serene Classic Comfort Bi", 4499.7, 3),
 ('2013-07-25 00:00:00.0', 365, 'Perfect Fitness Perfect Rip Deck', 3359.44, 4),
 ('2013-07-25 00:00:00.0', 1073, 'Pelican Sunstream 100 Kayak', 2999.85, 5),
 ('2013-07-25 00:00:00.0', 1014, "O'Brien Men's Neoprene Life Vest", 2798.88, 6),
 ('2013-07-25 00:00:00.0', 403, "Nike Men's CJ Elite 2 TD Football Cleat", 1949.85, 7),
 ('2013-07-25 00:00:00.0', 502, "Nike Men's Dri-FIT Victory Golf Polo", 1650.0, 8),
 ('2013-07-25 00:00:00.0', 627, "Under Armour Girls' Toddler Spine Surge Runni", 1079.73, 9),
 ('2013-07-25 00:00:00.0', 226, 'Bowflex SelectTech 1090 Dumbbells', 599.99, 10)]