In [ ]:
%load_ext sql

In [ ]:
%%sql

CREATE OR REPLACE VIEW sales_v
AS
SELECT 1 AS sale_id, 'Mastering Python' AS course_title, 10.99 AS sale_amount
UNION ALL
SELECT 2 AS sale_id, 'Mastering Redshift' AS course_title, 12.99 AS sale_amount
UNION ALL
SELECT 3 AS sale_id, 'Mastering EMR' AS course_title, 11.99 AS sale_amount
UNION ALL
SELECT 4 AS sale_id, 'Mastering EMR' AS course_title, 12.99 AS sale_amount
UNION ALL
SELECT 5 AS sale_id, 'Mastering Redshift' AS course_title, 10.99 AS sale_amount
UNION ALL
SELECT 6 AS sale_id, 'Mastering SQL' AS course_title, 11.99 AS sale_amount
UNION ALL
SELECT 7 AS sale_id, 'Mastering Redshift' AS course_title, 11.99 AS sale_amount
UNION ALL
SELECT 8 AS sale_id, 'Mastering EMR' AS course_title, 12.99 AS sale_amount
UNION ALL
SELECT 9 AS sale_id, 'Mastering Python' AS course_title, 10.99 AS sale_amount

In [ ]:
%%sql

SELECT * FROM sales_v

In [ ]:
%%sql

SELECT sv.*,
    round(sum(sale_amount) OVER (PARTITION BY 1), 2) AS total_sale_amount
FROM sales_v AS sv
ORDER BY course_title, sale_id

In [ ]:
%%sql

SELECT sv.*,
    round(sum(sale_amount) OVER (PARTITION BY course_title), 2) AS course_sale_amount
FROM sales_v AS sv
ORDER BY course_title, sale_id